<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>

  <connectionStrings>
    <add name="adcon" connectionString="server=RICHA1\SQLEXPRESS;initial catalog=AdventureWorks;uid=sa;pwd=info123!" />
    <add name="con" connectionString="server=RICHA1\SQLEXPRESS;initial catalog=rich;uid=sa;pwd=info123!" />
    <add name="richConnectionString" connectionString="Data Source=RICHA1\SQLEXPRESS;Initial Catalog=master;Persist Security Info=True;User ID=sa;Password=info123!"
      providerName="System.Data.SqlClient" />
    <add name="richConnectionString2" connectionString="Data Source=RICHA1\SQLEXPRESS;Initial Catalog=rich;Persist Security Info=True;User ID=sa;Password=info123!"
      providerName="System.Data.SqlClient" />
    <add name="richConnectionString3" connectionString="Data Source=RICHA1\SQLEXPRESS;Initial Catalog=rich;Persist Security Info=True;User ID=sa;Password=info123!"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <sessionState mode="SQLServer" sqlConnectionString="server=RICHA1\SQLEXPRESS;uid=sa;pwd=info123!" />

    <customErrors mode="Off" defaultRedirect="error.html">
      <error statusCode="404" redirect="error404.html"/>
    </customErrors>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  
  
</configuration>