 <div  id="adminGridListingID" class="" data-ng-controller="ControllerAdminGridListing">
      <div class="panel panel-info" style="margin-bottom: 2px;height:564px; ">

    <div class="panel-heading fFamily2" style="font-size:17px" >
        
                     
        Manage Program / Project
                        <button id="btnAddNew" style="float:right;margin-top: -4px;" type="button" class="btn btn-info btn-sml" data-toggle="modal" data-target="#divAddNew">+</button>

    </div>
    <div class="panel-body">      
     
      <div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4" style="margin-bottom: 0px;margin-top: 30px;">
                 
                    <div id="divRadioButtonGroup" >
                        
                        Manage
                            <label>
                                <input type="radio" name="Program" data-ng-change="RadioChange('Program')" data-ng-model="DefaultValue" value="Program" />
                                Program
                            </label>
                            <label>
                                <input type="radio" name="Program" data-ng-change="RadioChange('Project')" data-ng-model="DefaultValue" value="Project" />
                                Project
                            </label>


                            <select id="ProgramDropDown" style="visibility: hidden" data-ng-model="PID" data-ng-options="item.Program_Id as item.Program_Name for item in ProgramList" class="form-control" data-ng-change="GetSelectedProgram();">
                                 <option value="" disabled="" selected="" class="ng-binding">Please select the Program</option>                               
                            </select>
                            <!-- <option data-ng-repeat="item in ProgramList" value="{{item.Program_Id}}">{{item.Program_Name}}</option>-->
                       
                    </div>

                </div>
                <div class="col-lg-4" style="margin-bottom: 0px;margin-top: 30px;">
                    <div class="" style="text-align: right;font-size:10px;">
                        <!--<button id="btnAddNew" type="button" class="btn btn-info btn-sml" data-toggle="modal" data-target="#divAddNew">+</button>-->
                     </div>
                </div>
            </div>

          <div>
                
                 <div class="col-lg-12" style="padding-left: 0px;padding-right: 0px;">

                     <div class="box" >
                         <div class="box-body">
                             <!--<div class="" style="text-align: right; margin-bottom: 4px; padding-right:20px;font-size:10px;">
                                 <button id="btnAddNew" type="button" class="btn btn-info btn-sml" data-toggle="modal" data-target="#divAddNew">+</button>
                             </div>-->
                             <div style="overflow:auto;">
                                 <div id="divProgramDetails">
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
                 
            </div>
     
     </div>
          </div>
    <div id="divAddNew" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New</h4>
            </div>
            <div class="modal-body">

            <label id="TextBoxForEnterName"></label> 
            <input id="NameForNewProg"  data-ng-model="ProgName" type="text" required="required"/>
            <button class="btn btn-info btn-md" data-ng-click="addNewProgram();">Save</button>
            <button id="CancelAdding" class="btn btn-warning btn-md" data-dismiss="modal">Cancel</button>

            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>-->
            </div>
        </div>

    </div>
</div>
    <script type="text/javascript">

        var Cancelbtn = document.getElementById("CancelAdding");
        Cancelbtn.onclick = function () {
            document.getElementById("NameForNewProg").value = "";



        }

    </script>

<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
     <div id="divUpdateProgram" class="modal fade" role="dialog">
         <div class="modal-dialog">

             <!-- Modal content-->
             <div class="modal-content">
                 <div class="modal-header">
                     <button type="button" class="close" data-dismiss="modal">&times;</button>
                     <h4 class="modal-title">Update</h4>
                 </div>
                 <div class="modal-body">
                     <table>
                         <tr>
                             <td>
                                 <label>Enter New Name:</label>
                             </td>
                             <td>
                                 <input id='NewNameForProg' data-ng-model='UpdatedProgName' type='text' required='required' />
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <label>Status:</label>
                             </td>
                             <td>
                                 <select data-ng-model='UpdatedStatus'>
                                     <option value="Y">Active</option>
                                     <option value="N">In-Active</option>
                                 </select>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 <button class='btn btn-info btn-md btnUpdateProgramName' data-ng-click='UpdateProgram();'>Save</button></td>
                             <td>
                                 <button id='CancelUpdate' class='btn btn-warning btn-md' data-dismiss="modal">Cancel</button>
                             </td>
                             </tr>
                     </table>

                 </div>
                 <div class="modal-footer">
                     <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                 </div>
             </div>
         </div>
     </div>
     <script>
         var Cancelbtn = document.getElementById("CancelUpdate");

         Cancelbtn.onclick = function () {
             document.getElementById("NewNameForProg").value = "";

         }


     </script>

      </div>