<div class="" data-ng-controller="ControllerManageResource">
    <div class="panel panel-info" style="margin-bottom: 2px; height:564px;">
    <div class="panel-heading fFamily2" style="font-size:17px" >Assign Resource
        
    </div>
    <div class="panel-body" style="padding-bottom:0px;padding-top:0px;">
    <div class="row " style="text-align:left;padding-right:500px;margin-bottom:4px;">
        <table>
            <tr style="margin-bottom:10px;">
                <td>
                    <label>Resource Name</label>
                </td>
                <td>
                    <input type="text" ng-model="models.selectedResource" placeholder="Search Resource" typeahead="c.Name+' (EmpCode-'+c.ResourceEmpID+')' as c for c in models.Resource | filter:$viewValue | limitTo:10" typeahead-min-length='1' typeahead-on-select="HelperMethods.GetSelectedResourceId(models.selectedResource);" typeahead-template-url="customTemplate.html" class="form-control" style="width:350px;">
                    <i class="icon-search nav-search-icon"></i>
</td>
            </tr>

            <tr>
                <td>
                    <label>Program Name</label>
                </td>
                <td>
                    <select id="ProgramDropdown" data-ng-model="models.selectedProgram" data-ng-options="x.Program_Id as x.Program_Name for x in models.ProgramList" class="form-control" data-ng-change="HelperMethods.FillProjectList();">
                        <option value="" selected="" class="ng-binding">Please select</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Project Name</label>
                </td>
                <td>
                    <select id="ProjectDropdown" data-ng-model="models.selectedProject" data-ng-options="x.Program_Id as x.Program_Name for x in models.ProjectList" class="form-control">
                        <option value="" selected="" class="ng-binding">Please select</option>
                    </select>
                </td>
            </tr>
        </table>
    </div>
    <div class="row " style="text-align:right;padding-right:50px;margin-bottom:4px;">

        <button type="button" class="btn btn-info btn-md" data-toggle="modal" ng-disabled="models.selectedProgram==0 || models.selectedProgram==null|| models.selectedResource=='' || models.selectedResource==null || models.selectedProject==0 || models.selectedProject==null" ng-click="methods.AssignProject();">Assign Project</button>
        <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal" ng-click="HelperMethods.ResetResourceRole();">Reset</button>
    </div>

    </div>
    </div>
    </div>
    <script type="text/ng-template" id="customTemplate.html">
        <a>
            <span bind-html-unsafe="match.label | typeaheadHighlight:query"></span>
            <i>{{match.model.Name}}     (EmpCode-{{match.model.ResourceEmpID}})</i>

        </a>
    </script>



