<div data-ng-controller="ControllerManageRole">
    

     <div class="panel panel-info" style="margin-bottom: 2px;height:564px; ">
     <div class="panel-heading fFamily2" style="font-size:17px" >Manage Role
        <button type="button" style="float:right;margin-top:-4px; " class="btn btn-info btn-md" data-toggle="modal" data-target="#AssignDataModal" >Assign Role</button>

     </div>

    <div class="panel-body">
       
<table id="table_id2" class="table table-striped"  ng-table="models.usersTable" show-filter="true">
        <thead>
            <tr>
                <th>
                       User Name
                       <i ><a href="" ng-click="sort('UserName')" class="sortDir" ng-class="{ active: isSorted('UserName') }">&#x25B2;</a></i>
                           <i ><a href="" ng-click="sort('-UserName')" class="sortDir" ng-class="{ active: isSorted('-UserName' ) }">&#x25BC;</a></i>
                        

                </th>
                <th> Role Name
                         <i ><a href="" ng-click="sort('RoleName')" class="sortDir" ng-class="{ active: isSorted('RoleName') }">&#x25B2;</a></i>
                           <i ><a href="" ng-click="sort('-RoleName')" class="sortDir" ng-class="{ active: isSorted('-RoleName' ) }">&#x25BC;</a></i>
                       </th>
                <th>Edit</th>
                <th>Delete</th>

            </tr>
             <tr>
                
                 <th><input type="text" class="form-control" placeholder=" User Name" ng-model="filterName"></th>
                 <th><input type="text" class="form-control" placeholder=" Role Name" ng-model="filterRoleName"></th>
                 <th></th><th></th>
            </tr>
        </thead>
        <tbody>
            <tr data-ng-repeat="usr in data  | filter:{UserName:filterName} | filter:{RoleName:filterRoleName}|   orderBy:predicate:reverse">
                <td>{{usr.UserName}}</td>
                <td>{{usr.RoleName}}</td>
                <td> <a href="javascript:void(0)" data-ng-click="methods.EditRole(usr.UserName,usr.RoleName);"><i class="glyphicon glyphicon-edit"> </i> </a></td>
                <td> <a href="javascript:void(0)" data-ng-click="HelperMethods.GetResponseForRoleDelete(usr.UserName,usr.RoleName);"><i class="glyphicon glyphicon-trash"> </i> </a></td>
            </tr>
            <tr >
                <td colspan="4" data-ng-show="!viewTable.ListData.length">No Data Available !!</td>
            </tr>
        </tbody>
    </table>

        </div>
        </div>


   <!--Start : Modal-->
<!-- Trigger the modal with a button -->
<!-- Modal -->
<div id="AssignDataModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Asssign Roles to User</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                   
                    <div class="col-md-6">Select User</div><div class="col-md-6">
                                                               <select id="UserDropDown" data-ng-model="SelectedUserName" data-ng-options="item for item in models.UserList" class="form-control" data-ng-change="">
                                 <option value="" disabled="" selected="" class="ng-binding">Please select</option>                               
                            </select>
                  
                                                           </div>
                    <div class="col-md-6">Select Role</div><div class="col-md-6"><select id="RoleDropDown" data-ng-model="SelectedRole" data-ng-options="RoleName for RoleName in models.RoleList" class="form-control" data-ng-change="">
                                 <option value="" disabled="" selected="" class="ng-binding">Please select</option>                               
                            </select>
                                                           </div>
                    
                    <!--<div class="col-md-8" style="text-align:left;"></div>-->
                </div>

            </div>
            <div class="modal-footer">
                <!--<button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>-->
                    <div class="col-md-4" style="float: right;margin-top:0px;"><button type="button" class="btn btn-default btn-md" ng-click="methods.AssignRole()">{{ models.btnAddlable }}</button> </div>

            </div>
        </div>

    </div>
</div>

</div>
<!--End : Modal-->
