<div  data-ng-controller="ControllerManageResource">
   <!-- <div class=" " style="text-align:left;margin-bottom:4px;">
        <fieldset>
            <legend>
                Resource Details 
            </legend>
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
            <table><br />
            <tr style="margin-bottom:10px;">
                <td>
                    <label> Name</label>
                </td><td></td><td></td>
                <td>
                    <input type="text" style="width:200px" data-ng-model="models.ResourceName" />
                </td>
            </tr>
            <tr style="margin-bottom:10px;">
                <td>
                    <label> Id</label>
                </td><td></td><td></td>
                <td>
                    <input type="text" style="width:200px" data-ng-model="models.ResourceId" />
                </td>
            </tr>
            <tr>
                <td>
                    <label> Role</label>
                </td><td></td><td></td>
                <td>
                   
                </td>
            </tr>
            <tr>
                <td>
                    <label> Skill</label>
                </td><td></td>
                <td>
                    <input type="text" style="width:200px;visibility:hidden;" data-ng-model="models.ResourceSkill" />
                </td>
                <td>
                    <input type="text" style="width:200px;" data-ng-model="models.ResourceSkill" />
                </td>
            </tr>
                <tr>
                    <td style="float:right;">
    
                    </td>
                    <!--<td>
        <button type="button" style="visibility:hidden;float:right;" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal" ng-click="HelperMethods.ResetResource();">Reset</button>

                    </td>
                     <td style="float:right;">
                        <button type="button" class="btn btn-info btn-md"  data-toggle="modal" data-target="#myModal" ng-click="HelperMethods.ResetResource();">Reset</button>

                    </td>
                </tr>
        </table>
            </div>
            <div class="col-lg-3"></div>
        </fieldset>
        
    </div>-->
   
    <div class="panel panel-info" style="margin-bottom: 2px; height:564px;">
    <div class="panel-heading fFamily2" style="font-size:17px" >Create Resource </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-sm-3 control-label">Name</label>
    <div class="col-sm-9">
      <input type="text" class="form-control"  style="width:200px" data-ng-model="models.ResourceName" placeholder="Name">
      <!--<input type="text" style="width:200px" placeholder="Name" data-ng-model="models.ResourceName" />-->

    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3 control-label">ID</label>
    <div class="col-sm-9">
                    <!--<input type="text" style="width:200px" data-ng-model="models.ResourceId" />-->
      <input type="text" class="form-control"  style="width:200px" data-ng-model="models.ResourceId"  placeholder="ID">
    </div>
  </div>

  <div class="form-group">
    <label for="exampleInputFile" class="col-sm-3 control-label">Role</label>
    <div class="col-sm-9">
                    <!--<input type="text" style="width:200px" data-ng-model="models.ResourceId" />-->
       <select style="width:200px;"  id="DesignationDropDown" data-ng-model="models.selectedDesignation" data-ng-options="x.DesignationID as x.DesignationName for x in designationList" class="form-control">
           <option value="" selected="" class="ng-binding">Please select</option>
       </select>
    </div>
  </div>
  <div class="form-group">
    <label for="exampleInputFile" class="col-sm-3 control-label">Skills</label>
    <div class="col-sm-9">
                    <!--<input type="text" style="width:200px" data-ng-model="models.ResourceId" />-->
      <input class="form-control"  type="text" style="width:200px;" data-ng-model="models.ResourceSkill">
    </div>
  </div>
           <div class="row " style="text-align:right;padding-right:50px;margin-bottom:4px;">

                <button type="button" class="btn btn-info btn-md" data-toggle="modal" ng-disabled="models.selectedDesignation==0 || models.selectedDesignation==null|| models.ResourceName==''" ng-click="methods.AddResource();">Add Resource</button>
                <button type="button" class="btn btn-info btn-md"  data-toggle="modal" data-target="#myModal" ng-click="HelperMethods.ResetResource();">Reset</button>

           </div>

    
 <!-- <div class="form-group">
    <div class="col-sm-offset-3 col-sm-9">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Active
        </label>
      </div>
      <p class="help-block">Lorem ipsum dolor sit amet</p>
    </div>
  </div>-->

  <!--<div class="form-group">
    <label class="col-sm-3 control-label">Choices</label>
    <div class="col-sm-9">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="optionsRadios" id="optionsCheckbox1" value="option1" checked="">
          Option one is this and that—be sure to include why it's great
        </label>
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox" name="optionsRadios" id="optionsCheckbox2" value="option2">
          Option two can be something else and selecting it will deselect option one
        </label>
      </div>
    </div>
  </div>-->
      
 
</form>


    </div>
  </div>
</div>



