<div  class="" data-ng-controller="ControllerManageUser">
     <div class="panel panel-info" style="margin-bottom: 2px; height:564px;">
    <div class="panel-heading fFamily2" style="font-size:17px" >Manage User
        <button type="button" style="float:right;margin-top: -4px;" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal">+</button>

    </div>
    <div class="panel-body" style="padding-bottom:0px;padding-top:0px;">
    <div class="row " style="text-align:right;padding-right:50px;margin-bottom:4px;">
    </div>



    <table id="table_id" class="table table-striped" style="    margin-bottom: 2px;" ng-table="models.manageUsersTable" show-filter="true">
        <thead>
            <tr>
                <th>
                    UserName
                    
                         <i ><a href="" ng-click="sort('UserName')" class="sortDir" ng-class="{ active: isSorted('UserName') }">&#x25B2;</a></i>
                           <i ><a href="" ng-click="sort('-UserName')" class="sortDir" ng-class="{ active: isSorted('-UserName' ) }">&#x25BC;</a></i>
                        
                </th>
                <th>
                    
                       Email Address
                        <i ><a href="" ng-click="sort('Email')" class="sortDir" ng-class="{ active: isSorted('Email') }">&#x25B2;</a></i>
                           <i ><a href="" ng-click="sort('-Email')" class="sortDir" ng-class="{ active: isSorted('-Email' ) }">&#x25BC;</a></i>
                       

                </th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
             <tr>
                
                 <th><input type="text" class="form-control" placeholder=" User Name" ng-model="filterName"></th>
                 <th><input type="text" class="form-control" placeholder=" Email" ng-model="filterEmail"></th>
                 <th></th><th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="usr in data | filter:{UserName : filterName} | filter:{Email : filterEmail} | orderBy:predicate:reverse">
                <td>{{ usr.UserName}}</td>
                <td>{{usr.Email}}</td>
                <td> <a  href="javascript:void(0)" ng-click="methods.EditUser(usr.UserName);"><i class="glyphicon glyphicon-edit"> </i> </a></td>
                <td> <a  href="javascript:void(0)" ng-click="HelperMethods.GetResponseForDelete(usr.UserName);"><i class="glyphicon glyphicon-trash"> </i></a></td>
            </tr>
            <tr >
                <td colspan="4" ng-show="!viewModel.ListData.length">No User Available !!</td>
            </tr>
        </tbody>
    </table>




    <!--Start : Modal-->
    <!-- Trigger the modal with a button -->
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog" style="width:100%;">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close btn btn-md" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{ models.btnAddlable }}</h4>
                </div>
                <div class="modal-body">

                 <div class="row">
                        <form name="CreateUserForm" novalidate>
                            <div class="col-md-12" ng-show="models.ShowMsg" style="text-align:center;color:red;">{{models.customeMsg}} </div>
                            <div class="col-md-2">Username</div>
                            <div class="col-md-10">
                                <div class="col-md-5"><input name="UserName" class="form-control" type='text' data-ng-model="models.UserName" id="txtUserName" required /></div>
                               
                                 <div class="col-md-7"><span style="color:red;" ng-show="CreateUserForm.UserName.$touched && CreateUserForm.UserName.$dirty && CreateUserForm.UserName.$error.required">Please enter a username</span>
                                                      <!-- <span style="color:red;" ng-show="CreateUserForm.UserName.$touched && !CreateUserForm.UserName.$error.required && CreateUserForm.UserName.$invalid">Invalid User Name</span>-->
                                 </div>                                
                           </div>
                            
                            <div class="col-md-2"> E-mail</div>
                            <div class="col-md-10">
                                
                                <div class="col-md-5"><input name="Email" class="form-control" type="email" data-ng-model="models.Email" id="txtEmail" required /></div>
                                
                                <div class="col-md-7">
                                    <span style="color:red;" ng-show="CreateUserForm.Email.$touched && CreateUserForm.Email.$dirty && CreateUserForm.Email.$error.required">Please enter Email</span>
                                    <span style="color:red;" ng-show="CreateUserForm.Email.$touched && CreateUserForm.Email.$dirty && !CreateUserForm.Email.$error.required && CreateUserForm.Email.$invalid">Invalid Email</span></div></div>
                            
                            <div class="col-md-2"> Password</div>
                            <div class="col-md-10">
                                
                                <div class="col-md-5">
                                    <input name="Password" class="form-control" type="{{showpassword ? 'text' : 'password'}}" ng-minlength="6" pattern="^(?=.*[0-9])(?=.*[!@#$%&*])[a-zA-Z0-9!@#$%&*]{6,}$" data-ng-model="models.Password" id="txtPassword" required="string"/></div>
                                
                                <div  class="col-md-1" style="padding:0px;width: 4%;">
                                    <a href="#" data-toggle="tooltip" data-placement="top" title="Password must be of atleast 6 characters and contain atleast one digit,one alphabet and one special character from [!,@,#,$,%,&,*]"><i class="glyphicon glyphicon-info-sign"></i></a></div>   
                                <div class="col-md-6" style="padding:0px"><!--&nbsp Show &nbsp<input type="checkbox" ng-model="showpassword" ng-checked="false">&nbsp&nbsp-->
                                    <span style="color:red;" ng-show="CreateUserForm.Password.$touched && CreateUserForm.Password.$dirty && CreateUserForm.Password.$error.required">Please enter Password</span>
                                    <span style="color:red;" ng-show="CreateUserForm.Password.$touched && CreateUserForm.Password.$dirty && !CreateUserForm.Password.$error.required && CreateUserForm.Password.$invalid">Invalid Password</span>
                            
                                    <span style="color:red;" ng-show="CreateUserForm.Password.$touched && CreateUserForm.Password.$error.pattern && !CreateUserForm.Password.$error.required && CreateUserForm.Password.$dirty"></span></div>

                            </div>
                            
                            <div class="col-md-2"> Confirm Password</div>
                            <div class="col-md-10">
                            
                                    <div class="col-md-5"><input name="ConfirmPassword" class="form-control" type='password' data-ng-model="models.confirmPassword" id="txtConfPassword" pw-check="txtPassword" required/></div>
                                
                                <div class="col-md-7">
                                    <span style="color:red;" ng-show="CreateUserForm.ConfirmPassword.$touched && CreateUserForm.ConfirmPassword.$dirty && CreateUserForm.ConfirmPassword.$error.required">Please Confirm Password</span>
                                    <span style="color:red;" ng-show="CreateUserForm.ConfirmPassword.$touched && CreateUserForm.ConfirmPassword.$touched && !CreateUserForm.ConfirmPassword.$error.required && CreateUserForm.ConfirmPassword.$error.pwmatch && CreateUserForm.ConfirmPassword.$invalid">Password Does not match</span></div></div>
                            
                            <div class="col-md-8" style="text-align:left;"></div>
                            <!--<div class="col-md-4" style="text-align: left;margin-top:10px;"></div>-->
                        </form>
                   </div>

                </div>
                <div class="modal-footer">
                    <!--<button type="button" class="btn btn-default btn-md" data-dismiss="modal">Close</button>-->
                   <!-- <button ng-show="models.btnAddlable=='Add User'" ng-disabled="!CreateUserForm.$valid" type="button" style="float:right;" class="btn btn-default btn-md" ng-click="methods.AddUser()">Add User and Assign Role</button> -->
                    <button type="button" style="float:right;" ng-disabled="!CreateUserForm.$valid" class="btn btn-default btn-md" ng-click="methods.AddUser()">{{ models.btnAddlable }}</button> 
                </div>
            </div>

        </div>
    </div>
    <!--End : Modal-->
    </div>
</div>
         </div>
