<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRestaurantService" />
        <binding name="BasicHttpBinding_IRestaurantService1" />
      </basicHttpBinding>
      <ws2007HttpBinding>
        <binding name="WS2007HttpBinding_IUserService" />
        <binding name="WS2007HttpBinding_IUserService1" />
      </ws2007HttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50922/Service1.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestaurantService"
        contract="ServiceReference1.IRestaurantService" name="BasicHttpBinding_IRestaurantService" />
      <endpoint address="http://localhost:50922/Service1.svc/ws" binding="ws2007HttpBinding"
        bindingConfiguration="WS2007HttpBinding_IUserService" contract="ServiceReference1.IUserService"
        name="WS2007HttpBinding_IUserService">
        <identity>
          <userPrincipalName value="Ankur.Pathak@igglobal.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:50922/Service1.svc/ws" binding="ws2007HttpBinding"
        bindingConfiguration="WS2007HttpBinding_IUserService1" contract="ServiceReference1.IUserService"
        name="WS2007HttpBinding_IUserService1">
        <identity>
          <userPrincipalName value="Ankur.Pathak@igglobal.com" />
        </identity>
      </endpoint>
      <endpoint address="http://localhost:50922/Service1.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestaurantService1"
        contract="ServiceReference1.IRestaurantService" name="BasicHttpBinding_IRestaurantService1" />
    </client>
  </system.serviceModel>
</configuration>