<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRestaurant" />
      </basicHttpBinding>
      <ws2007HttpBinding>
        <binding name="WS2007HttpBinding_IUser" />
      </ws2007HttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:50870/Service1.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRestaurant"
        contract="ServiceReference1.IRestaurant" name="BasicHttpBinding_IRestaurant" />
      <endpoint address="http://localhost:50870/Service1.svc/ws" binding="ws2007HttpBinding"
        bindingConfiguration="WS2007HttpBinding_IUser" contract="ServiceReference1.IUser"
        name="WS2007HttpBinding_IUser">
        <identity>
          <userPrincipalName value="Richa@igglobal.com" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>