<div class="col-md-7 removePad">
<div class="  col-sm-6 col-md-6 removePad_a"  >
    <div class="thumbnail tile tile-medium tile-teal bg-gray-light removeBorder boxBorder removeMargin2 shadowApply" style="height:130px;" ng-mouseenter="DoIt(1)" ng-mouseleave="UnDoIt(1)" >
       <div class="row heightSubBottom">
            <div class="col-md-12">
        <div class="row">
            <div class="col-xs-1 col-md-1">
                <img src="assets/img/issue_small.png" style="margin-left:0px; margin-top:1px;" />
            </div>
            <div class="col-xs-10 col-md-10">
                <h3 class="bottomBox colorIssue">
                    <span class="fFamily1 fontSizeBottom">Critical Issues</span>
                </h3>
            </div>
        </div>
        <div class="row">
            <div id="divIssueTileData" class="col-md-12" ng-controller="IssueController">
                <!--<h5 style="margin-top: 0px; margin-left: 0px;">{{keyIssuesTile}}</h5>  ng-init="issueCountForTile();"  -->

                <div data-ng-repeat="Title in titleList" style="padding-left: 10px;">
                    <li style="margin-top: 0px; margin-left: 0px;">    {{ Title.IssueTitle | limitTo: 40 }}{{Title.IssueTitle.length > 40 ? '...' : ''}}&nbsp;</li>
                </div>
            </div>
        </div>
                </div>
           </div>
        <div class="row">
            <div class="col-xs-9 col-md-9">
            </div>
            <div class="col-xs-3 col-md-3 iconRight">
                  <i  id="myBtnIcon" class="glyphicon glyphicon-menu-right"></i>
               <!--<img src="assets/img/rightarrow.png" class="" />-->
            </div>
        </div>
    </div>
</div>
<div class=" col-sm-6 col-md-6 padLeftRight"  style="">
    <div class="thumbnail tile tile-medium tile-teal bg-gray-light removeBorder boxBorder removeMargin2 shadowApply" style="height:130px;" ng-mouseenter="DoIt(2)" ng-mouseleave="UnDoIt(2)" >
        <div class="row heightSubBottom">
            <div class="col-md-12">
                 <div class="row">
            <div class="col-xs-1 col-md-1">
                <img src="assets/img/risk_small.png" style="margin-left: 0px; margin-top: 1px;" />
            </div>
            <div class="col-xs-10 col-md-10">
                <h3 class="bottomBox colorRisk">
                     <span class="fFamily1 fontSizeBottom">Risks</span>
                </h3>
            </div>
        </div>
                 <div class="row" style="margin-right:0px" >
            <div id="divRiskTileData" class="col-md-12" ng-controller="RiskController">
                <!--<h5 style="margin-top: 0px; margin-left: 0px;">{{keyIssuesTile}}</h5>  ng-init="issueCountForTile();"  -->
               
                 <div data-ng-repeat="Title in titleList" style="padding-left: 10px;">
                    <li style="margin-top: 0px; margin-left: 0px;" >  {{ Title.RiskTitle | limitTo: 40 }}{{Title.RiskTitle.length > 40 ? '...' : ''}}&nbsp;</li>
                </div>
            </div>
        </div>
            </div>
        </div>
       
        <div class="row">
            <div class="col-xs-9 col-md-9">
            </div>
            <div class="col-xs-3 col-md-3 iconRight">
                 <i  id="myBtn2Icon" class="glyphicon glyphicon-menu-right "> </i>
               
            </div>
        </div>
    </div>
</div>

</div>
<div class="col-md-5 dvBtmComments_b dvBtmComments_c" id="dvBtmComments" ng-controller="BottomCommentsController">
    <div class="col-sm-12 col-md-12 padLeftRight2 dvBtmComments_a" ng-controller="Hover" >
        <div class="thumbnail tile tile-medium tile-teal bg-gray-light removeBorder boxBorder removeMargin2 shadowApply" style="height:130px;" ng-mouseenter="DoIt(3)" ng-mouseleave="UnDoIt(3)">
            <div class="row heightSubBottom">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-1 col-md-1">
                            <img src="assets/img/comment_small.png" style="margin-left:0px;" />
                        </div>
                        <div class="col-xs-10 col-md-10 padLeftComments">
                            <h3 class="bottomBox colorComments">
                                <span class="fFamily1 fontSizeBottom">Comments</span>

                            </h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!--<h5 style="margin-top: 0px; margin-left: 0px;">{{commentsTile}}</h5>-->
                            <span style="margin-top: 0px; margin-left: 0px;" id="tileThree">  {{ ViewModels.Comments | limitTo: 40 }}{{ViewModels.Comments.length > 40 ? '...' : ''}}&nbsp; </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9 col-md-9">
                </div>
                <div class="col-xs-3 col-md-3 iconRight">
                    <i id="myBtn3Icon" class="glyphicon glyphicon-menu-right "></i>

                </div>
            </div>
        </div>
    </div>
</div>