
<div ng-controller="loginController">
    <h1>Login Page </h1>
    <div class="row">
        <div class="col-lg-12">
            <label>User ID</label>
            <input type="text" id="inputUserID" placeholder="Enter UserID" class="form-control"/>
        </div>
        <div class="col-lg-12 ">
             <label>Password</label>
            <input type="password" id="inputPassword" placeholder="Enter Password" class="form-control"/>
        </div>
        <div class="col-lg-12">
             <label>User Type</label>
           <select id="selectUserType" class="form-control">
               <option value="Client" class="form-control">Client</option>
               <option value="Admin" class="form-control">Admin</option>
           </select>
            <br />
            <input type="button" class="form-control  btn btn-warning" value="Log In" ng-click="userType();"/>
        </div>
    </div>
</div>