<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="con" connectionString="Data Source=RICHA1\SQLEXPRESS;Initial Catalog=rich;uid=sa;password=info123!"/>
  </connectionStrings>
  <system.web>
    <caching>
      <sqlCacheDependency enabled="true" pollTime="10000">
        <databases>
          <add connectionStringName="con" name="mydb1"/>
        </databases>
      </sqlCacheDependency>
    </caching>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>