<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INews"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:51542/Service1.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INews" contract="ServiceReference1.INews" name="BasicHttpBinding_INews"/>
    </client>
  </system.serviceModel>
</configuration>