<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Interface1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/MyService2" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_Interface1" contract="ServiceReference1.Interface1"
                name="BasicHttpBinding_Interface1" />
        </client>
    </system.serviceModel>
</configuration>
