<table class="well well_a1">
        <tr>
           <!-- <td align='right' valign='top' style='width:900px'>
                <a href="" id="edit" ng-controller="editTimelineData" ng-click="editData();" class="glyphicon glyphicon-edit"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="" id="view" ng-controller="viewTimeline" ng-click="timeline();" class="glyphicon glyphicon-fullscreen"></a>
                <!--<a href="" id="view" ng-controller="chemCtrl" ng-click="timeline();" class="glyphicon glyphicon-fullscreen"></a>-->
            <!--</td> -->
        </tr>
        <tr>
            <td class="shadowApply" style='width:900px'><div id="visualization" style="height:327px; overflow:auto;"></div></td>
        </tr>
</table>

<div id="divTimeline" class="modal-Tiles">
    <!-- Modal content -->
    <div class="modal-content-Tiles  w3-animate-zoom">
        <div class="modal-header-Tiles">
            <span class="close4">×</span>
            <h2>Milestones</h2>
        </div>
        <div class="modal-body-Tiles" style="overflow:auto;">
            <div id="divGrid" class="list-group">

            </div>
            <!--<p>Some text in the Modal Body</p>
            <p>Some other text...</p>-->
        </div>
        <div class="modal-footer-Tiles">
            <h3></h3>
        </div>
    </div>
</div>

<div id="divEditTimeline" class="modal-Tiles">
    <!-- Modal content -->
    <div class="modal-content-Tiles w3-animate-zoom" style="width:95%;">
        <div class="modal-header-Tiles">
            <span class="close5">×</span>
            <h2>Milestones</h2>
        </div>
        <div class="modal-body-Tiles" style="overflow:auto;">
            <div id="divEditGrid" class="list-group" >

            </div>
            <!--<p>Some text in the Modal Body</p>
            <p>Some other text...</p>-->
        </div>
        <div class="modal-footer-Tiles">
            <h3></h3>
        </div>
    </div>
</div>

<script>
    // Get the modal

    var modal3 = document.getElementById('divTimeline');
    var modal4 = document.getElementById('divEditTimeline');

    // Get the button that opens the modal
    var btn4 = document.getElementById("view");
    var btn5 = document.getElementById("edit");

    // Get the <span> element that closes the modal
    var span3 = document.getElementsByClassName("close4")[0];
    var span4 = document.getElementsByClassName("close5")[0];

    // When the user clicks the button, open the modal
    edit.onclick = function () {
        editTimeline();
        divEditTimeline.style.display = "block";
    }
    btn4.onclick = function () {
        viewTimeline();
        divTimeline.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span3.onclick = function () {
        divTimeline.style.display = "none";
    }
    span4.onclick = function () {
        modal4.style.display = "none";
    }


    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal3) {
            modal3.style.display = "none";
        }
        if (event.target == modal4) {
            modal4.style.display = "none";
        }

    }
</script>