<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProfile" />
            </basicHttpBinding>
            <ws2007HttpBinding>
                <binding name="WS2007HttpBinding_ISalary" />
            </ws2007HttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:49830/Service1.svc/ws" binding="ws2007HttpBinding"
                bindingConfiguration="WS2007HttpBinding_ISalary" contract="ServiceReference1.ISalary"
                name="WS2007HttpBinding_ISalary">
                <identity>
                    <userPrincipalName value="Richa@igglobal.com" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:49830/Service1.svc/basic"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProfile"
                contract="ServiceReference1.IProfile" name="BasicHttpBinding_IProfile" />
        </client>
    </system.serviceModel>
</configuration>