<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="false" targetFramework="4.0"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IStudent" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:52742/Service1.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IStudent" contract="ServiceReference1.IStudent"
        name="BasicHttpBinding_IStudent" />
    </client>
  </system.serviceModel>
</configuration>