<div class="row padLeft" ng-controller="NavigationController">
    <div ng-controller="dataProgram">

        <div class="col-xs-12 col-sm-6 col-md-2 portfolio-item" ng-click="changeview('Programs')" ng-mouseenter="ZoomOut(1)" ng-mouseleave="ZoomIn(1)">
            <div class="info-box" style="display: block; background-color: #6666ff; height: 30px;">
                <span class="info-box-icon" style="background: #ccccff;">
                    <i class="fa fa-envelope-o"></i>
                    <img id="ProjectPNG" src="assets/img/Project.png" style="margin-bottom:40px;" />
                </span>
                <div class="info-box-content">
                    <div class="info-box-number">
                        <div style="padding-left:5px;">{{totalCount}} {{name}}</div>
                        <div class="container">
                            <div class="progress" style="height:8px; width:110px; margin-top:10px;">
                                <div class="progress-bar progress-bar-success" role="progressbar" ng-style="{width: greenBar + '%'}" style="background-color:lightseagreen;">
                                   <h6 style="margin-top:-3px; color:black;">{{greenBar}}</h6>
                                </div>
                                <div class="progress-bar progress-bar-warning" role="progressbar" ng-style="{width: redBar + '%'}" style="background-color: red">
                                      <h6 style="margin-top: -3px; color: black;">{{redBar}}</h6>
                                </div>
                                <div class="progress-bar progress-bar-danger" role="progressbar" ng-style="{width: yellowBar + '%'}" style="background-color: yellow;">
                                     <h6 style="margin-top: -3px; color: black;">{{yellowBar}}</h6>
                                </div>
                            </div>
                        </div>
                        <!--<div>
                            <progress value="50" max="100" style="width:100px; height:5px;"></progress>
                        </div>-->
                    </div>
                </div>

            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 portfolio-item" ng-click="changeview('Amount')" ng-mouseenter="ZoomOut(2)" ng-mouseleave="ZoomIn(2)">
            <div class="info-box" style="display: block; background-color: #1a90ff; height: 30px; ">
                <span class="info-box-icon" style="background: #80c1ff; ">
                    <i class="fa fa-envelope-o"></i>
                    <img id="FinancePNG" src="assets/img/finance.png" style="margin-bottom:40px;" />
                </span>
                <div class="info-box-content">
                    <div class="info-box-number">
                        <div style="padding-left:5px;">$ 2.9 mn</div>
                        <div class="container">
                            <div class="progress" style="height:8px; width:100px; margin-top:10px;">
                                <div class="progress-bar progress-bar-success" role="progressbar" style="width:67%; background-color:lightseagreen;">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 portfolio-item" ng-click="changeview('Persons')" ng-mouseenter="ZoomOut(3)" ng-mouseleave="ZoomIn(3)">
            <div class="info-box" style="display: block; background-color: #1ad1ff; height: 30px; ">
                <span class="info-box-icon" style="background: #66e0ff; ">
                    <i class="fa fa-envelope-o"></i>
                    <img id="MemberPNG" src="assets/img/member.png" style="margin-bottom:40px;" />
                </span>
                <div class="info-box-content">
                    <span class="info-box-number" style="padding-left:5px; padding-top:10px;">{{totalPersons}} Persons</span>
                    <!--<span class="info-box-number" style="padding-left:5px; padding-top:10px;">573 Persons</span>-->
                    <span class="info-box-text"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 portfolio-item" ng-click="changeview('Risks')" ng-mouseenter="ZoomOut(4)" ng-mouseleave="ZoomIn(4)">
            <div class="info-box" style="display: block; background-color: #ff6666; height: 30px; ">
                <span class="info-box-icon" style="background: #ffb3b3; ">
                    <i class="fa fa-envelope-o"></i>
                    <img id="RiskPNG" src="assets/img/risk.png" style="margin-bottom:40px;" />
                </span>
                <div class="info-box-content">
                    <span class="info-box-number" style="padding-left:5px; padding-top:10px;">{{riskCount}} Risks</span>
                    <span class="info-box-text"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 portfolio-item" ng-click="changeview('Issues')" ng-mouseenter="ZoomOut(5)" ng-mouseleave="ZoomIn(5)">
            <div class="info-box" style="background-color: #ffd480; display: block; height: 30px; ">
                <span class="info-box-icon" style="background: #ffe6b3; ">
                    <i class="fa fa-envelope-o"></i>
                    <img id="IssuePNG" src="assets/img/issue.png" style="margin-bottom:40px;" />
                </span>
                <div class="info-box-content">
                    <span class="info-box-number" style="padding-left:5px; padding-top:10px;">{{criticalIssues}} Issues</span>
                    <span class="info-box-text"></span>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-2 portfolio-item" ng-click="changeview('UndCon')">
            <div class="info-box bg-teal-active" style="display: block; background-color: #ff6666; height: 30px; ">
                <span class="info-box-icon bg-teal-gradient" style="background: #ffb3b3; "><i class="fa fa-envelope-o"></i></span>
                <div class="info-box-content">
                    <span class="info-box-number" style="padding-left:5px; padding-top:10px;">5 Release</span>
                    <span class="info-box-text"></span>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="tablesandcharts" class="row padLeft" style="display:none; " ng-controller="NavigationController">

    <section class="col-lg-12">

        <div id="divUnderConstruction" class="nav-tabs-custom" style="display: none; background-color: #364f63;">
            <ul class="nav nav-tabs pull-right">
                <li class="pull-left header" style="color:white;"><i class="fa fa-inbox"></i>Under Construction</li>
            </ul>
            <div class="tab-content no-padding" style="height:345px; overflow:auto">
                <div style="height: 100px; background-color: gray"></div>
                <div style="height: 125px;">
                    <h2 style="text-align:center;">Section Under maintenance !</h2><h4 style="text-align:center;">Will be back Soon.</h4>
                </div>
                <div style="height: 100px; background-color: gray"></div>
            </div>
        </div>

    </section>

    <section class="col-lg-6 connectedSortable">

        <div id="divPurple" class="nav-tabs-custom" style="display: none; background-color: #364f63;">
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a data-toggle="tab" href="#home">Finance Distribution</a></li>
                <li><a data-toggle="tab" href="#menu1">Program Finance</a></li>
                <li class="pull-left header" style="color:white;"><i class="fa fa-inbox"></i>Financials</li>


            </ul>
            <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                <div id="home" class="tab-pane fade in active" style="height:345px; overflow:auto">
                    <div id="barchartContainer" style="height: 300px; width: 100%;" ng-click="ShowTable('Purple')">
                    </div>
                    <!--<canvas id="mybarChart" height="300"></canvas>-->
                </div>
                <div id="menu1" class="tab-pane fade" style="height:345px; overflow:auto">
                    <div id="piechartContainer" style="height: 300px; width: 100%;" ng-click="ShowTable('Purple')"></div>
                    <!--<canvas id="MyPie" height="300"></canvas>-->
                </div>

            </div>
        </div>
        <div id="divBlue" class="nav-tabs-custom" style="background-color: #364f63; display: none;">
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a data-toggle="tab" href="#Resource-Histogram-chart">Resource Skill Distribution</a></li>
                <li><a data-toggle="tab" href="#ReBar-chart">Resource Utilization</a></li>
                <li class="pull-left header" style="color:white;"><i class="ion ion-person-add"></i>Resource Dashboard</li>
            </ul>
            <div class="tab-content no-padding">

                <div id="Resource-Histogram-chart" class="tab-pane fade in active" style="height:345px; overflow:auto">
                    <div id="chartContainer" style="height: 300px; width: 100%;" ng-click="ShowTable('Blue')">
                    </div>
                </div>
                <div id="ReBar-chart" class="tab-pane fade" style="height:345px; overflow:auto">
                    <div id="barchartContainerforresource" style="height: 300px; width: 100%;" ng-click="ShowTable('Blue')">
                    </div>
                </div>
            </div>
        </div>
        <div id="divAqua" class="nav-tabs-custom" style="background-color: #364f63; display: none;">
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a data-toggle="tab" href="#heat-chart" ">Risk Rank\HeatMap  </a></li>
                <li><a data-toggle="tab" href="#RiskHesto-chart">Program Wise Risk</a></li>
                <li class="pull-left header" style="color:white;"><i class="fa fa-inbox"></i>Risk</li>
            </ul>
            <div class="tab-content no-padding">
                <div id="heat-chart" class=" tab-pane fade in active" style="height:345px; overflow:auto" ng-click="ShowTable('Aqua')">
                    <div class="wrap">

                        <div class="wrap">

                            <table>
                                <tr><td colspan="2" align="center" class="td-map">Probability</td></tr>
                                <tr>
                                    <td width="10%" class="td-map">
                                        Impact
                                    </td>
                                    <td width="90%">
                                        <table cellpadding="0" cellspacing="0" border="0" class="heat-map" id="heat-map-3" ng-click="ShowTable('red')">

                                            <thead>
                                                <tr>
                                                    <th class="first"></th>
                                                    <th>1<br />Remote</th>
                                                    <th>2<br />Unlikely</th>
                                                    <th>3<br />Possible</th>
                                                    <th>4<br />Likely</th>
                                                    <th>5<br />Certain</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="stats-row">
                                                    <td class="stats-title">1<br />Trival</td>
                                                    <td><a style="color: #E5F6EE;">1</a></td>
                                                    <td><a style="color: #E5F6EE;">2</a></td>
                                                    <td><a style="color: #E5F6EE;">3</a></td>
                                                    <td><a style="color: #E5F6EE;">4</a></td>
                                                    <td><a style="color: #E5F6EE;">5</a></td>

                                                </tr>
                                                <tr class="stats-row">
                                                    <td class="stats-title">2<br />Minor</td>
                                                    <td><a style="color: #E5F6EE;">2</a></td>
                                                    <td><a style="color: #E5F6EE;">4</a></td>
                                                    <td><a style="color: #E5F6EE;">6</a></td>
                                                    <td><a style="color: #E5F6EE;">8</a></td>
                                                    <td><a style="color: #E5F6EE;">10</a></td>


                                                </tr>
                                                <tr class="stats-row">
                                                    <td class="stats-title">3<br />Lost Time</td>
                                                    <td><a style="color: #E5F6EE;">3</a></td>
                                                    <td><a style="color: #E5F6EE;">6</a></td>
                                                    <td><a style="color: #E5F6EE;">9</a></td>
                                                    <td><a style="color: #E5F6EE;">12</a></td>
                                                    <td><a style="color: #E5F6EE;">15</a></td>
                                                </tr>
                                                <tr class="stats-row">
                                                    <td class="stats-title">4<br />Major</td>
                                                    <td><a style="color: #E5F6EE;">4</a></td>
                                                    <td><a style="color: #E5F6EE;">8</a></td>
                                                    <td><a style="color: #E5F6EE;">12</a></td>
                                                    <td><a style="color: #E5F6EE;">16</a></td>
                                                    <td><a style="color: #E5F6EE;">20</a></td>
                                                </tr>
                                                <tr class="stats-row">
                                                    <td class="stats-title">5<br />Fatal</td>
                                                    <td><a style="color: #E5F6EE;">5</a></td>
                                                    <td><a style="color: #E5F6EE;">10</a></td>
                                                    <td><a style="color: #E5F6EE;">15</a></td>
                                                    <td><a style="color: #E5F6EE;">20</a></td>
                                                    <td><a style="color: #E5F6EE;">25</a></td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </td>
                                </tr>
                            </table>

                        </div>

                    </div>
                </div>
                <div id="RiskHesto-chart" class="tab-pane fade" style="height:345px; overflow:auto">
                    <div id="RiskHistochartContainer" style="height: 300px; width: 100%;" ng-click="ShowTable('Aqua')">
                    </div>

                </div>

            </div>
        </div>
        <div id="divRed" class="nav-tabs-custom" style="background-color: #364f63; display: none;">
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a data-toggle="tab" href="#Issuehome">Severity wise Distribution </a></li>
                <li><a data-toggle="tab" href="#IssueHisto">Program Issue Distribution </a></li>
                <li class="pull-left header" style="color:white;"><i class="fa fa-inbox"></i>Issues</li>
            </ul>
            <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                <div id="Issuehome" class="tab-pane fade in active" style="height:345px; overflow:auto">
                    <div id="IssuepiechartContainer" style="height: 300px; width: 100%;" ng-click="ShowTable('Red')"></div>
                </div>
                <div id="IssueHisto" class="tab-pane fade" style="height:345px; overflow:auto">
                    <div id="IssueHistochartContainer" style="height: 300px; width: 100%;" ng-click="ShowTable('Red')">
                    </div>
                    <!--<div id="chartContainer" style="height: 400px; width: 100%;">
                    </div>-->
                </div>
            </div>
            <!--<ul class="nav nav-tabs pull-right">
                <li class="pull-left header"><i class="ion ion-pie-graph"></i>Project Risk</li>
            </ul>
            <div class="tab-content no-padding" style="position: relative; height: 300px;">
            </div>-->
        </div>
        <div id="divYellow" class="nav-tabs-custom" style="background-color: #364f63; display: none;">
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a data-toggle="tab" href="#Issuehome">Aggregate</a></li>
                <li><a data-toggle="tab" href="#IssueHisto">Histogram</a></li>
                <li class="pull-left header" style="color:white;"><i class="fa fa-inbox"></i>Issues</li>
            </ul>
            <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                <div id="Issuehome" class="tab-pane fade in active" style="height:345px; overflow:auto">
                    <div id="IssuepiechartContainer" style="height: 300px; width: 100%;" ng-click="ShowTable('Yellow')"></div>
                </div>
                <div id="IssueHisto" class="tab-pane fade" style="height:345px; overflow:auto">
                    <div id="IssueHistochartContainer" style="height: 300px; width: 100%;" ng-click="ShowTable('Yellow')">
                    </div>
                </div>
            </div>
        </div>
        <div id="divTeal" class="nav-tabs-custom bg-teal-active" style=" display: none;">
            <ul class="nav nav-tabs pull-right">
                <li class="active"><a data-toggle="tab" href="#Issuehome">Aggregate</a></li>
                <li><a data-toggle="tab" href="#IssueHisto">Histogram</a></li>
                <li class="pull-left header" style="color:white;"><i class="fa fa-inbox"></i>Issues</li>
            </ul>
            <div class="tab-content no-padding">
                <!-- Morris chart - Sales -->
                <div id="Issuehome" class="tab-pane fade in active" style="height:345px; overflow:auto">
                    <div id="IssuepiechartContainer" style="height: 300px; width: 100%;" ng-click="ShowTable('Teal')"></div>
                </div>
                <div id="IssueHisto" class="tab-pane fade" style="height:345px; overflow:auto">
                    <div id="IssueHistochartContainer" style="height: 300px; width: 100%;" ng-click="ShowTable('Teal')">
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="col-lg-6 connectedSortable">

        <div id="tablePurple" class="box-solid" style=" background-color: #364f63; display: none;">
            <div class="box-header" style="height:40px; ">

                <div class="pull-right box-tools">

                </div>
                <i class="fa"></i>
                <h3 class="box-title">
                    <span class="pull-left header" style="color:white;">Financials</span>
                </h3>
            </div>
            <div class="box-body bg-gray-light">
                <div style=" height: 328px; overflow:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Program Name</th>
                                <th>Allocated Budget</th>
                                <th>Actual Spent Till Date</th>
                                <th>New Estimates</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Ph.Data Warehouse</td>
                                <td>1 Million</td>
                                <td>0.5 Million</td>
                                <td>Nil</td>
                            </tr>
                            <tr>
                                <td>Systems Integration</td>
                                <td>2.5 Million</td>
                                <td>1 Million</td>
                                <td>Nil</td>
                            </tr>
                            <tr>
                                <td>Ph. Business Support</td>
                                <td>Nil</td>
                                <td>Nil</td>
                                <td>2 Million</td>
                            </tr>
                            <tr>
                                <td>Infrastructure stability</td>
                                <td>2 Million</td>
                                <td>1 Million</td>
                                <td>Nil</td>
                            </tr>
                            <tr>
                                <td>Outpatient Ph. Repla</td>
                                <td>1 Million</td>
                                <td>0.20 Million</td>
                                <td>Nil</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- /.box-body-->

        </div>
        <div id="tableBlue" class="box-solid" style="background-color: #364f63; display: none;" ng-controller="shareData">
            <div class="box-header" style="height:40px; ">

                <div class="pull-right box-tools">

                </div>
                <i class="fa"></i>
                <h3 class="box-title">
                    <span class="pull-left header" style="color:white;">Resource Dashboard</span>
                </h3>
            </div>
            <div class="box-body bg-gray-light">
                <div style="height: 328px; overflow:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Project</th>
                                <!--<th>Created On</th>
                                <th>Due Date</th>-->
                                <th>Resource Count</th>
                                <th>Utilization %</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Production Monitoring</td>
                                <td>Ph.Data Warehouse</td>
                                <!--<td>24-1-2015</td>
                                <td>24-1-2016</td>-->
                                <td>20</td>
                                <td>70%</td>
                            </tr>
                            <tr>
                                <td>Non Prod Monitoring</td>
                                <td>Systems Integration</td>
                                <!--<td>2-12-2015</td>
                                <td>2-12-2016</td>-->
                                <td>50</td>
                                <td>87%</td>
                            </tr>
                            <tr>
                                <td>Non Production</td>
                                <td>Ph. Business Support</td>
                                <!--<td>22-1-2015</td>
                                <td>22-1-2016</td>-->
                                <td>37</td>
                                <td>82%</td>
                            </tr>
                            <tr>
                                <td>Production Deployments</td>
                                <td>Infrastructure stability</td>
                                <!--<td>6-6-2015</td>
                                <td>6-6-2016</td>-->
                                <td>23</td>
                                <td>92%</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- /.box-body-->

        </div>
        <div id="tableAqua" class="box-solid" style="background-color: #364f63; display: none;">
            <div class="box-header" style="height:40px; ">
                <!-- tools box -->
                <div class="pull-right box-tools">

                </div><!-- /. tools -->
                <i class="fa"></i>
                <h3 class="box-title">
                    <span class="pull-left header" style="color:white;">Risk</span>
                </h3>
            </div>
            <div class="box-body bg-gray-light">
                <div style="height: 328px; overflow:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Risk Owner</th>
                                <th>Risk Title</th>
                                <th>Project</th>
                                <th>Risk Status</th>
                                <th>Description</th>
                                <th>Risk Responce Action Plan</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Jeremy M</td>
                                <td>Ability to Store MedGuides and PPIs</td>
                                <td>Ph.Data Warehouse</td>
                                <td>Active</td>
                                <td>KP must be able to readily recreate all MedGuides </td>
                                <td>I suggest PAS be the owner</td>
                            </tr>
                            <tr>
                                <td>Jhon</td>
                                <td>Ability to Store MedGuides and PPIs</td>
                                <td>Systems Integration</td>
                                <td>Active</td>
                                <td>KP must be able to readily recreate all MedGuides </td>
                                <td>I suggest PAS be the owner</td>
                            </tr>
                            <tr>
                                <td>Monty</td>
                                <td>Ability to Store MedGuides and PPIs</td>
                                <td>Ph. Business Support</td>
                                <td>Active</td>
                                <td>KP must be able to readily recreate all MedGuides </td>
                                <td>I suggest PAS be the owner</td>
                            </tr>
                            <tr>
                                <td>Jeff</td>
                                <td>Ability to Store MedGuides and PPIs</td>
                                <td>Infrastructure stability</td>
                                <td>Active</td>
                                <td>KP must be able to readily recreate all MedGuides </td>
                                <td>I suggest PAS be the owner</td>
                            </tr>
                            <tr>
                                <td>Devid</td>
                                <td>Ability to Store MedGuides and PPIs</td>
                                <td>Outpatient Ph. Repla</td>
                                <td>Active</td>
                                <td>KP must be able to readily recreate all MedGuides </td>
                                <td>I suggest PAS be the owner</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div><!-- /.box-body-->

        </div>
        <div id="tableRed" class="box-solid" style="background-color: #364f63; display: none;">
            <div class="box-header" style="height:40px;">
                <div class="pull-right box-tools">
                </div>
                <i class="fa"></i>
                <h3 class="box-title">
                    <span class="pull-left header" style="color:white;">Issues</span>
                </h3>
            </div>
            <div class="box-body bg-gray-light">
                <div style="height: 328px; overflow:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Project</th>
                                <!--<th>Created On</th>
                                <th>Due Date</th>-->
                                <th>Sub Area</th>
                                <th>Priority</th>
                                <th>Assigned To</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Production Monitoring</td>
                                <td>Ph.Data Warehouse</td>
                                <!--<td>24-1-2015</td>
                                <td>24-1-2016</td>-->
                                <td>OPPR/ESB</td>
                                <td>High</td>
                                <td>IT</td>
                                <td>In Progress</td>
                            </tr>
                            <tr>
                                <td>Non Prod Monitoring</td>
                                <td>Systems Integration</td>
                                <!--<td>2-12-2015</td>
                                <td>2-12-2016</td>-->
                                <td>OPPR/ESB</td>
                                <td>Medium</td>
                                <td>IT</td>
                                <td>In Progress</td>
                            </tr>
                            <tr>
                                <td>Non Production</td>
                                <td>Ph. Business Support</td>
                                <!--<td>22-1-2015</td>
                                <td>22-1-2016</td>-->
                                <td>OPPR/ESB</td>
                                <td>Low</td>
                                <td>IT</td>
                                <td>In Progress</td>
                            </tr>
                            <tr>
                                <td>Production Deployments</td>
                                <td>Infrastructure stability</td>
                                <!--<td>6-6-2015</td>
                                <td>6-6-2016</td>-->
                                <td>OPPR/ESB</td>
                                <td>High</td>
                                <td>IT</td>
                                <td>In Progress</td>
                            </tr>
                            <tr>
                                <td>Automation</td>
                                <td>Outpatient Ph. Repla</td>
                                <!--<td>16-8-2015</td>
                                <td>16-8-2016</td>-->
                                <td>OPPR/ESB</td>
                                <td>Low</td>
                                <td>IT</td>
                                <td>In Progress</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div id="tableYellow" class="box-solid" style="background-color: #364f63; display: none;">
            <div class="box-header" style="height:40px;">
                <div class="pull-right box-tools">

                </div>
                <i class="fa"></i>
                <h3 class="box-title">
                    Issue
                </h3>
            </div>
            <div class="box-body bg-gray-light">
                <div style="height: 328px; overflow:auto;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Project</th>
                                <!--<th>Created On</th>
                                <th>Due Date</th>-->
                                <th>Sub Area</th>
                                <th>Priority</th>
                                <th>Assigned To</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Production Monitoring</td>
                                <td>Ph.Data Warehouse</td>
                                <!--<td>24-1-2015</td>
                                <td>24-1-2016</td>-->
                                <td>OPPR/ESB</td>
                                <td>High</td>
                                <td>IT</td>
                                <td>In Progress</td>
                            </tr>
                            <tr>
                                <td>Non Prod Monitoring</td>
                                <td>Systems Integration</td>
                                <!--<td>2-12-2015</td>
                                <td>2-12-2016</td>-->
                                <td>OPPR/ESB</td>
                                <td>Medium</td>
                                <td>IT</td>
                                <td>In Progress</td>
                            </tr>
                            <tr>
                                <td>Non Production</td>
                                <td>Ph. Business Support</td>
                                <!--<td>22-1-2015</td>
                                <td>22-1-2016</td>-->
                                <td>OPPR/ESB</td>
                                <td>Low</td>
                                <td>IT</td>
                                <td>In Progress</td>
                            </tr>
                            <tr>
                                <td>Production Deployments</td>
                                <td>Infrastructure stability</td>
                                <!--<td>6-6-2015</td>
                                <td>6-6-2016</td>-->
                                <td>OPPR/ESB</td>
                                <td>High</td>
                                <td>IT</td>
                                <td>In Progress</td>
                            </tr>
                            <tr>
                                <td>Automation</td>
                                <td>Outpatient Ph. Repla</td>
                                <!--<td>16-8-2015</td>
                                <td>16-8-2016</td>-->
                                <td>OPPR/ESB</td>
                                <td>Low</td>
                                <td>IT</td>
                                <td>In Progress</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="tableTeal" class="box-solid bg-teal-active" style="display: none;">
            <div class="box-header" style="height:40px; ">

                <div class="pull-right box-tools">

                </div>
                <i class="fa"></i>
                <h3 class="box-title">
                    Issue
                </h3>
            </div>
            <div class="box-body bg-gray-light">
                <div style="height: 328px; overflow:auto;">

                </div>
            </div>
        </div>

    </section>

</div>
