
/*ul, ol{list-style:none;}
a {text-decoration: none;color:#E5F6EE;}
.text-center {text-align: center; padding: 10px 0;}
h2 {margin-bottom: 30px;}
.wrap {width: 453px; margin: 0 auto;}
.clear {clear: both;}*/


.heat-map {border: 1px solid #ccc; margin: 0 auto 20px auto; width: 350px;}
.heat-map tr th {padding: 5px 7px; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; border-top: 1px solid #fff; border-left: 1px solid #fff; text-shadow: 0 1px 0 #fff; font: bold 11px Arial, sans-serif; text-transform: uppercase; color: #000;
background-color: #F1F1F1;
    background-image: -moz-linear-gradient(center top , #F9F9F9, #ECECEC);
}
.td-map{color:black;}

.heat-map tr th.last {border-right: none;}
.heat-map tr th.first, .heat-map tr td.stats-title {border-left: none; text-align: left;}
.heat-map tr td {padding: 5px 7px; border-right: 1px solid #fff;border-bottom: 1px solid #fff;text-align:center; color: #000; font-size: 11px;}
tr.stats-row {text-align:center;}
.heat-map tr.stats-row td.stats-title {text-align:center; color: #111; font-size: 13px; text-shadow: 0 1px 0 #fff; background: #efefef; border-top: 1px solid #fff; border-bottom: 1px solid #ccc;  border-right: 1px solid #ccc;}
.heat-map tr.stats-row td.stats-title.last {border-bottom: 1px solid #fff;}
