
/** global **/


/** wrapper **/
div#wrapper {
	margin:auto;
	padding:0;
}

.width {
	width:920px;
	margin: 0 auto;
}
/** body **/
section#body {
	padding: 0;
	background: #ffffff;
}


/** content+sidebar styles **/
section#content {
	width:580px;
    height:40PX;
	padding: 20px;
	background-color: #fff;
}
.column-left {
	float:left;
}
.column-right {
	float:right;
}
aside#sidebar {
	width:280px;
	position: fixed;
}
nav#mainnav ul {
	padding: 0px;
	margin: 0px;
	list-style:none;
}

nav#mainnav li {
	padding:0;
	
}
nav#mainnav li.selected-item  {
	border-bottom:none;
}
nav#mainnav li.selected-item a,
nav#mainnav li.selected-item a:hover {
	color:#000;
	font-weight:bold;
	background: #ddd;
}
nav#mainnav li a:hover {
	background:#ddd;
	color: #000;
	text-decoration:none;
}
nav#mainnav li a {
	color: #ddd;
	display: block;
	padding: 2px 0px;
	text-align: center;
	font-weight: bold;
    background:#364f63;
	text-decoration: none;
	letter-spacing: 0.5px;
     border-radius: 5px;
     height:80px;
}

aside#sidebar h4 { 
	color:#0C3f7E;
	font-size:16px;
	font-weight:bold;
	margin:0;
	padding:7px 10px;
}
 ul#mainnav li a:hover,ul#mainnav li.active a{
background:#2F2F2f;
	color: #eee;
	text-decoration:none;
}
  .box {
 display: block;
  height: 80px;
  background: #fff;
  /*width: 80%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
  border-radius: 5px;
  /*margin-bottom: 15px;*/
}
   div#container {
        width: 580px;
        margin: 100px auto 0 auto;
        padding: 20px;
         border: 1px solid #1a1a1a;
      }
      
      /* HOVER STYLES */
   .pop-up {
        display: none;
  position: absolute;
  
  width: 200px;
  padding: 10px;
  background: #f7efee;
  color: #000000;
  border: 2px solid #b0acac;
  font-size: 90%;
  
  padding-left:40px;
 
  height: 82px;
  
  /*width: 80%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);*/
  border-radius: 5px;
  opacity:0.95;

 }
   
.glyphicon-refresh-animate {
    -moz-animation: spin-moz .7s infinite linear;
    -webkit-animation: spin-webkit .7s infinite linear;
    animation: spin .7s infinite linear;
}

@-moz-keyframes spin-moz {
  from { -moz-transform: rotate(0deg);}
  to { -moz-transform: rotate(360deg);}
}

@-webkit-keyframes spin-webkit {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

 

