<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <system.web>
      <authentication mode="Forms">
        <forms defaultUrl="Home.aspx" loginUrl="Login.aspx" name="form1">
          <credentials passwordFormat="Clear">
            <user name="ankur" password="ankur@123!"/>
            <user name="sachin" password="sachin@123!"/>
            <user name="mohit" password="mohit@123!"/>
          </credentials>
        </forms>
      </authentication>
      <authorization>
        <deny users="?"/>
      </authorization>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
